body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #ecf1f3;
}
#addbutton{
  font-size: 15px;
  color: #e5e7eb;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px ;
  padding-bottom: 8px;
  border-radius: 6px;
  background-color: #3882F6;
  border: none;
  margin-top: 0;
}
#addbutton:hover{
  box-shadow: 0 3px 10px #3882F6;
}

#form {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  gap: 20px;               
  border: 4px solid black;
  border-radius: 5px;
  background-color: rgba(134, 134, 134, 0.139);
  width: 400px;
  height: 400px;
  padding: 20px;
}

#form input {
  height: 60px;
  width: 75%;
  margin-bottom: 20px;
  padding: 5pxpx;
  border-radius: 8px;
  background-color: rgba(182, 182, 182, 0);
}
.inputs{
  margin-left: 50px;
  align-self: center;
  justify-self: center;

}
#form button {
  font-size: 15px;
  color: #e5e7eb;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px ;
  padding-bottom: 8px;
  border-radius: 6px;
  background-color: #3882F6;
  border: none;
  margin-top: 0;
  cursor: pointer;
}
.button{
align-self: center;
justify-self: center;
}

#form input:hover{
  border: 2px solid rgb(0, 102, 255);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.263);
}

#form button:hover{
  box-shadow: 0 3px 10px #3882F6;
}

.bookcard{

  border: 3px solid #285caf;
  border-radius: 6px;
  width: 200px;
  height: 250px;
  background-color: #dae4f4;
  color: rgb(0, 0, 0);
  font-size: 25px;

}

#bookcontainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}